!!! transitional
html
    head
        title
        link(rel='stylesheet', href='/css/bootstrap.css')
        style(type='text/css')
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        link(href='/css/bootstrap-responsive.css', rel='stylesheet')
        script(src='/js/jquery-2.0.0.js')
        script(src='/js/bootstrap.js')
    body
        .navbar.navbar-fixed-top
            .navbar-inner
                .container
                    a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.brand(href='/') 我的豆瓣电影
                    .nav-collapse
                        ul.nav
                            if session.user
                                li.active
                                    a(href='/home/login')= session.user.username
        #container.container
            #msgSuc.alert.alert-success(style='display:none')= typeof(success) != 'undefined'?success:''
            #msgErr.alert.alert-error(style='display:none')= typeof(error) != 'undefined'?error:''
            block content
    script(type='text/javascript')
        $(document).ready(function(){
            if($('#msgSuc').html())$('#msgSuc').show();
            if($('#msgErr').html())$('#msgErr').show();
            $('#imgDouban').click(function(){
                var url = 'https://www.douban.com/service/auth2/auth?'
                            +'client_id='+$('#hidDoubanKey').val()
                            +'&redirect_uri=http://'+$('#hidDomain').val()+'/home/douban'
                            +'&response_type=code&scope=shuo_basic_r,shuo_basic_w,douban_basic_common';
                window.open(url, '_blank');
            });
        })